@using Ecommerce.BLL.ViewModel
@model StockViewModel

@{
    ViewBag.Title = "Ürün Düzenle";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Stock", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="input-group">
        <span class="input-group-addon" id="txtBarcode">Barkod </span>
        @Html.TextBoxFor(x => x.Barcode, new { @class = "form-control", @placeholder = "Ürün barkodu giriniz", @aria_describedby = "txtBarcode", @readonly = "readonly", @required = "required" })
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtName">Adı </span>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Ürün adı giriniz", @aria_describedby = "txtName", @required = "required" })
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtPrice">Tutar </span>
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @placeholder = "Ürün tutarı giriniz", @aria_describedby = "txtPrice", @required = "required" })
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtQuantity">Adet </span>
        @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @placeholder = "Ürün adedi giriniz", @aria_describedby = "txtQuantity", @type = "number", @required = "required" })
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon" id="txtDescription">Açıklama </span>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = "Ürün açıklaması giriniz", @aria_describedby = "txtDescription" })
    </div>
    <br />
    <div class="input-group">
        <input type="submit" value="Düzenle" class="btn btn-warning" />
    </div>
}